.input{
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(180, 180, 180);
}
.fieldset-legend{
    font-size: larger;
}

.hide-scrollbar {
  -ms-overflow-style: none !important;  /* for IE, Edge */
  scrollbar-width: none;     /* for Firefox */
} 